<header>
    <div class="interior">
        <a routerLink="Inicio" class="logo"><img src="assets\logo.png" alt=""></a>
        <nav class="navegacion">
            <ul>
                <li><a href="">Inicio</a></li>
                <li><a href="">Catálogo</a></li>
                <li class="submenu">
                    <a href="">Opciones</a>
                    <ul class="subindex">
                        <li><a href="">Opcion 1</a></li>
                        <li><a href="">Opcion 2</a></li>
                        <li><a href="">Opcion 3</a></li>
                    </ul>
                </li>
                <li><a routerLink= "login">login</a></li>

            </ul>
        </nav>
    </div>
</header>