<header>
    <div class="interior">
        <a routerLink="Inicio" class="logo"><img src="assets\logo.png" alt=""></a>
        <nav class="navegacion">
            <ul>
                <!-- <li><a href="">Inicio</a></li>
                <li class="submenu">
                    <a href="">Opciones</a>
                    <ul class="subindex">
                        <li><a href="">Gestionar usuarios</a></li>
                        <li><a routerLink="buscador">Gestionar libros</a></li>
                        <li><a href="">Editar perfil</a></li>
                    </ul>
                </li>
                <li><a routerLink= "login">Iniciar Sesion</a></li> -->
                <li><a href="#">Admin</a></li>
            </ul>
        </nav>
    </div>
</header>