<div class="background">
    <div class="container">
        <div class="title">Datos Personales</div>
        <form>
            <div class="form-group">
                <span>Nombre: </span>
                <input type="text" placeholder="Ingrese su nombre*" required>
            </div>
    
            <div class="form-group">
                <span>Usuario: </span>
                <input type="text" placeholder="Ingrese su usuario*" required>
            </div>
    
            <div class="form-group">
                <span>Correo Electronico: </span>
                <input type="text" placeholder="Ingrese su correo elecronico*" required>
            </div>
    
            <div class="form-group">
                <span>Contrseña: </span>
                <input type="password" placeholder="Ingrese su contraseña*" required>
            </div>
    
            <div class="form-group">
                <span>Confirmar Contrseña: </span>
                <input type="password" placeholder="Confirme su contraseña*" required>
            </div>

            <div class="button">
                 <input type="button" value="Resgistrarse">
            </div>
        </form>
    </div>
</div>
